.divForm{
    background: linear-gradient(180deg, #f76262 50%, #fff1c1 214%);
}

form{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

form.card{
background-color: rgba(247, 98, 98, 0.22)!important;
color:white;
}

input, textarea{
    background-color:#faebd72e;
    color:white;
    margin: 5px;
    border: 2px solid lightgray;
    border-radius: 15px;
    transition: border-color .5s ease-out;
    font-weight: bold;
    padding: 10px 10px;
}
input::placeholder, textarea::placeholder{
    color: lightgray;
}


textarea{
    resize: none;
}


input:invalid:not(:placeholder-shown), textarea:invalid:not(:placeholder-shown){
    border-color:red;
}

input:valid, textarea:valid{
    border-color:greenyellow;
}

.msgFinish{
    color:greenyellow;
}
.msgError{
    color:red;
}