.proyectos{
    background: rgb(41,52,98);
    background: linear-gradient(180deg, rgba(41,52,98,1) 0%, rgba(33,101,131,1) 35%, rgba(247,98,98,1) 100%);
}

.card{
    background-color: #fff1c1;
    color: #293462;
    flex-direction: column;
    //display: flex;
    //float: left;
    //box-sizing: border-box;
    position: relative;
    height: 300px;
    margin-bottom: 0px;
    width: 300px;
    border-radius:4px;
    margin:1vw;
    border:none;
    //border-width: 1px;
    //border-color:#e0e0e0;
    //box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    padding: 5px;
    display: inline-flex;
}

.card-title{
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing:.0125em;
    -webkit-font-smoothing: antialiased;
    margin:0;
}

.card-subtitle{
    font-size:.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing:.01785em;
    -webkit-font-smoothing: antialiased;
    margin:0;
}

.card-text{
    display:block;
    padding: 24px;
    text-align:left;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

.card-actions{
    display:flex;
    flex-direction:row;
    padding: 8px 24px;
    
}

.card-action{
    display:inline-flex;
    flex-direction:row;
    cursor: pointer;
    margin: 0px 8px;
    background: transparent;
}